{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container mt-4">
  <!-- Row to hold the cards -->
   {% if user.is_authenticated %}
   
     <div class="row">
       
       <!-- Card 1 -->
     {% for pin in pins %}

        <div class="col-md-4 mt-4">
          <div class="card" style="width: 100%; position: relative;">
            <img src="/media/{{pin.pic}}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
            {% if user in pin.savers.alls %}
            <a href="/unsave-pin/{{pin.id}}" class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">UnSave</a>
            {% else %}

            <a href="/save-pin/{{pin.id}}" class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</a>
            {% endif %}
            <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
              <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
                <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="/media/{{pin.pic}}" alt=""></i>
              </button>
              <button class="btn btn-light rounded-pill bg-light">
                <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
              </button>
            </div>
            <div class="card-body p-2">
              <h6 class="card-title mb-2 text-truncate">
                <a href="/pin/{{pin.id}}">{{pin.title}}</a>
              </h6>
              <div class="d-flex align-items-center">
                <span class="small text-muted">{{pin.description}}</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
   
     </div> <!-- End row -->
    {% else %}
    <h2> Please Login to continue</h2>
   {% endif %}
</div> <!-- End container -->
{% endblock content %}
