{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container mt-4">
  <!-- Row to hold the cards -->
   {% if user.authenticated %}
   <h2>User loged in </h2>
    {% else %}
    
    <h2> The user does not have an account</h2>
   
   {% endif %}

  <div class="row">
    
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/1.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">Limited Edition Prints Of My...</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">korean cartoon art</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/2.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">wsata kim seik huhu</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">asian beauty</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/3.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">Limited Edition Prints Of My...</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">japanese cartoon art</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/4.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">wsata kim seik huhu</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">asian beauty</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/5.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">Limited Edition Prints Of My...</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">japanese cartoon art</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/6.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">wsata kim seik huhu</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">asian beauty</span>
          </div>
        </div>
      </div>
      
    </div>
    
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/7.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">Limited Edition Prints Of My...</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">korean cartoon art</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/2.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">wsata kim seik huhu</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">asian beauty</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/3.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">Limited Edition Prints Of My...</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">japanese cartoon art</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/4.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">wsata kim seik huhu</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">asian beauty</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/5.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">Limited Edition Prints Of My...</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">japanese cartoon art</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; position: relative;">
        <img src="{% static 'img/7.jpg' %}" class="card-img-top rounded" alt="Card Image" style="height: 300px; object-fit: cover;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2">Save</button>
        <div class="position-absolute bottom-0 end-0 m-2 d-flex align-items-center">
          <button class="btn btn-light btn-sm me-2 rounded-pill bg-light">
            <i class="fas fa-share"><img style="height: 20px; width: 20px;" src="{% static 'img/w.png' %}" alt=""></i>
          </button>
          <button class="btn btn-light rounded-pill bg-light">
            <i class="fas fa-ellipsis-h"><img style="height: 20px; width: 20px;" src="{% static 'img/dots.png' %}" alt=""></i>
          </button>
        </div>
        <div class="card-body p-2">
          <h6 class="card-title mb-2 text-truncate">wsata kim seik huhu</h6>
          <div class="d-flex align-items-center">
            <span class="small text-muted">asian beauty</span>
          </div>
        </div>
      </div>
      
    </div>

  </div> <!-- End row -->
</div> <!-- End container -->
{% endblock content %}
