{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <!-- Card Component for showing the content -->
  <div class="card">
      <img src="/media/{{pin.pic}}" class="card-img-top" alt="Sample Image">
      <div class="card-body">
          <h1 class="card-title">{{pin.title}}</h1>
          <p class="card-text">{{pin.description}}.</p>
          <p class="card-text"><small class="text-muted">{{pin.author}}</small></p>
        </div>
        <a href="/"> <button class="btn btn-primary w-100">Go Back</button></a>
       
  </div>
</div>
{% endblock content %}